name: Container

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-native:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: maven
      - run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static
      - name: Build native binary for ${{ matrix.arch }}
        run: $MVN install -P op,prod,native -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime-options=--platform=linux/${{ matrix.arch }}
      - uses: actions/upload-artifact@v7
        with:
          name: native-binary-${{ matrix.arch }}
          path: op/standalone/target/*-runner
          retention-days: 1

  build-image:
    needs: build-native
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static
      - run: podman --version
      - uses: actions/download-artifact@v7
        with:
          name: native-binary-amd64
          path: op/standalone/target/native-amd64
      - uses: actions/download-artifact@v7
        with:
          name: native-binary-arm64
          path: op/standalone/target/native-arm64
      - uses: redhat-actions/podman-login@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      - name: Build multi-arch image
        run: |
          podman manifest create quay.io/halconsole/hal-op:latest
          podman build \
            --platform linux/amd64 \
            --manifest quay.io/halconsole/hal-op:latest \
            --label maintainer=hpehl@redhat.com \
            --label org.opencontainers.image.authors=hpehl@redhat.com \
            --label org.opencontainers.image.description="HAL console on premise" \
            --label org.opencontainers.image.licenses=Apache-2.0 \
            --label org.opencontainers.image.source=https://github.com/hal/foundation \
            --label org.opencontainers.image.title="HAL On Premise" \
            --label org.opencontainers.image.url=https://hal.github.io \
            --label org.opencontainers.image.vendor="Red Hat" \
            --build-arg BINARY_PATH=target/native-amd64 \
            -f op/standalone/src/main/docker/Dockerfile.native-micro \
            op/standalone
          podman build \
            --platform linux/arm64 \
            --manifest quay.io/halconsole/hal-op:latest \
            --label maintainer=hpehl@redhat.com \
            --label org.opencontainers.image.authors=hpehl@redhat.com \
            --label org.opencontainers.image.description="HAL console on premise" \
            --label org.opencontainers.image.licenses=Apache-2.0 \
            --label org.opencontainers.image.source=https://github.com/hal/foundation \
            --label org.opencontainers.image.title="HAL On Premise" \
            --label org.opencontainers.image.url=https://hal.github.io \
            --label org.opencontainers.image.vendor="Red Hat" \
            --build-arg BINARY_PATH=target/native-arm64 \
            -f op/standalone/src/main/docker/Dockerfile.native-micro \
            op/standalone
          podman manifest push quay.io/halconsole/hal-op:latest
