name: Native Build

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build-native:
    name: Build native on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: 21
          distribution: mandrel
          github-token: ${{ secrets.GITHUB_TOKEN }}
          components: native-image
          cache: maven
      - if: matrix.os == 'ubuntu-latest'
        run: ./mvnw --show-version --batch-mode --no-transfer-progress install -DskipTests -Dquarkus.native.container-build=false -P op,prod,native
      - if: matrix.os == 'macos-latest'
        run: ./mvnw --show-version --batch-mode --no-transfer-progress install -DskipTests -Dquarkus.native.container-build=false -P op,prod,native
      - if: matrix.os == 'windows-latest'
        run: .\mvnw.cmd --show-version --batch-mode --no-transfer-progress install -DskipTests -Dquarkus.native.container-build=false -P op,prod,native
      - name: Upload native artifacts
        uses: actions/upload-artifact@v4
        with:
          name: hal-op-standalone-${{ runner.os }}
          path: op/standalone/target/hal-op-standalone-*-runner
          if-no-files-found: warn
