name: Native Build

on:
  release:
    types: [created]

jobs:
  build-native:
    name: Build native on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: 21
          distribution: mandrel
          github-token: ${{ secrets.GITHUB_TOKEN }}
          components: native-image
          cache: maven
      - if: matrix.os == 'ubuntu-latest'
        run: ./mvnw --show-version --batch-mode --no-transfer-progress install -DskipTests -Dquarkus.native.container-build=false -P op,prod,native
      - if: matrix.os == 'macos-latest'
        run: ./mvnw --show-version --batch-mode --no-transfer-progress install -DskipTests -Dquarkus.native.container-build=false -P op,prod,native
      - if: matrix.os == 'windows-latest'
        run: .\mvnw.cmd --show-version --batch-mode --no-transfer-progress install -DskipTests "-Dquarkus.native.container-build=false" -P op,prod,native
      - run: |
          APP_NAME="halop"
          VERSION="${{ github.ref_name }}"
          if [ "${{ runner.os }}" = "Windows" ]; then
            mv op/standalone/target/*-runner.exe "${APP_NAME}-${VERSION}-windows.exe"
          elif [ "${{ runner.os }}" = "macOS" ]; then
            mv op/standalone/target/*-runner "${APP_NAME}-${VERSION}-macos"
          else
            mv op/standalone/target/*-runner "${APP_NAME}-${VERSION}-linux"
          fi
        shell: bash
      - uses: softprops/action-gh-release@v2
        with:
          files: halop-${{ github.ref_name }}-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
