name: Native Build

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build-native:
    name: Build native on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: 21
          distribution: graalvm-community
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: maven
      - if: matrix.os == 'ubuntu-latest'
        run: ./mvnw --show-version --batch-mode --no-transfer-progress install -DskipTests -P op,prod,native
      - if: matrix.os == 'macos-latest'
        run: ./mvnw --show-version --batch-mode --no-transfer-progress install -DskipTests -P op,prod,native
      - if: matrix.os == 'windows-latest'
        run: |
          "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
          .\mvnw.cmd --show-version --batch-mode --no-transfer-progress install -DskipTests -P op,prod,native
      - name: Upload native artifacts
        uses: actions/upload-artifact@v4
        with:
          name: hal-op-standalone-native-${{ runner.os }}
          path: op/standalone/target/**
          if-no-files-found: warn
